@import '../../themes/variables.css';

.projects {
  background-color: #1816218a;
  padding: 24px;
  margin-top: 80px;
}

.header {
  font-size: 32px;
  margin-bottom: 24px;
}

.headerSmall {
  font-size: 24px;
}

@media (--only-mobile-screen) {
  .header {
    font-size: 24px;
  }

  .headerSmall {
    margin-top: 24px;
    font-size: 20px;
  }
}

.card {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}

.card:hover .overlay {
  background: rgba(0, 0, 0, .5);
}

.projectImg {
  object-fit: contain;
  max-width: 100%;
}

.titleCard {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
  opacity: 0;
}

.card:hover .titleCard {
  top: 8%;
  opacity: 1;
}

.btnCard {
  position: absolute;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  padding: 16px 24px;
  font-size: 1.5rem;
  top: 50%;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  background: none;
  transition: opacity .35s ease;
}

.card:hover .btnCard {
  opacity: 1;
}


/* -------------------------------- Modal ------------------- */

.contentInModal {
  width: 100%;
  padding: 12px 24px;
}

.contentInModal * {
  text-align: left;
}

.contentInModal > *:nth-child(2) {
  color: #c0c2ce;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.achievementsHeader {
  margin-bottom: 16px;
}

.technologyWord {
  color: #539cff;
};

.linkToProject {
  display: inline-block;
  padding: 8px 16px;
  background-color: #58b3ff;
  color: #fff;
}

.linkProject1 {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  margin-top: 24px;
  text-decoration: none;
  padding: 8px 24px;
  background-color: #58b3ff;
  color: #fff;
}
