.root {
  margin-bottom: 40px;
}

.columnContainer {
  display: flex;
  justify-content: space-around;
}

.frontendStack,
.designStack {
  display: flex;
  flex-direction: column;
}

.frontendStack div:nth-child(even) {
  margin-left: 36px;
}

.designStack div:nth-child(even) {
  margin-left: 36px;
}
