@import '../../themes/variables.css';

.root {
  margin-bottom: 40px;
  padding: 24px;
}

.header {
  font-size: 32px;
}

.headerSmall {
  font-size: 24px;
  width: 200px;
}

@media (--only-mobile-screen) {
  .header {
    font-size: 24px;
  }

  .headerSmall {
    font-size: 22px;
    text-align: left;
    padding-left: 18%;
  }
}

@media (--only-small-mobile-screen) {
  .headerSmall {
    padding-left: 32%;
  }
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 22px;
  margin-right: 22px;
}

@media (--only-mobile-screen) {
  .columnContainer {
    flex-direction: column;
    margin-left: 12px;
    margin-right: 0;
  }
}

@media (--only-very-small-mobile-screen) {
  .columnContainer {
    margin-left: 0;
  }
}

.frontendStack,
.designStack {
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.frontendStack > div:nth-child(even) {
  margin-left: 36px;
}

.designStack > div:nth-child(even) {
  margin-left: 36px;
}

@media (--only-mobile-screen) {
  .designStack {
    margin-top: 60px;
  }
}

/* ------------------------------Animation------------------------ */

.labelStatic {
  color: #539cff;
  line-height: 24px;
}

.label {
  color: #d8d8d8;
  line-height: 24px;
}

.typeAnimation {
  font-size: 12px;
  display: inline-block;
  padding-right: 1ch;
  position: relative;
  animation: type 2s steps(16);
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Oxygen Mono', monospace;
}

.typeAnimation:before {
  animation: opacity 0.8s steps(2) infinite;
  content: '';
  position: absolute;
  right: -2px;
  height: 100%;
  width: 5px;
  border-right: 4px solid white;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 100%;
  }
}