@import '../../../themes/variables.css';

.root {
  display: flex;
  align-items: center;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

/* .label:nth-child(even) {
  box-shadow: -8px 0px 4px 6px rgba(0, 0, 0, 0.5);
} */

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  height: 40px;
  background-color: #64c7cc;
  margin-top: 14px;
  margin-bottom: 14px;
  border-left: solid 3px #333333;
  border-right: solid 3px #333333;
  z-index: 2;
  user-select: none;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon:before {
  top: -25px;
  border-style: solid;
  border-width: 4px;
  border-color: inherit;
  border-bottom: none;
  border-left: none;
}

.hexagon:after {
  bottom: -25px;
  border-style: solid;
  border-width: 4px;
  border-color: inherit;
  border-top: none;
  border-right: none;
}

.hover {
  filter: hue-rotate(120deg);
}

.hexagon:hover {
  filter: hue-rotate(120deg);
}

.hexagon * {
  z-index: 3;
}

.hexagonText {
  font-size: 3rem;
  font-weight: bold;
}

.hexagonJS {
  color: #f7df1e;
  background-color: #181621;
  border-color: #f7df1e;
}

.hexagonHTMLCSS {
  color: white;
  background-color: #f16529;
  border-color: #e44d26;
}

.hexagonReact {
  color: #61dafb;
  background-color: #261300;
  border-color: #61dafb;
}

.hexagonRedux {
  color: #6d44b3;
  background-color: #08003f;
  border-color: #6d44b3;
}

.hexagonNodeJS {
  background-color: #fff;
  border-color: #085506;
}

.hexagonPostCSS {
  background-color: #220b0a;
  border-color: #b93a1b;
}

.hexagonWebpack {
  background-color: #1c78c0;
  border-color: white;
}

.hexagonFigma {
  background-color: #2e3139;
  border-color: #1abcfe;
}

.hexagonIllustrator {
  color: #b95d0a;
  background-color: #22140a;
  border-color: #b95d0a;
}

.hexagonPhotoshop {
  color: #7794bb;
  background-color: #0d0736;
  border-color: #7794bb;
}

.hexagonXd {
  color: #caaec0;
  background-color: #220117;
  border-color: #bf2390;
}
/* ----------------------------------------------- */