@import '../../themes/variables.css';

.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #181621;
  width: 250px;
  padding: 24px;
  height: 100%;
}

@media (--only-mobile-screen) {
  .sideBar {
    display: none;
  }
}

.sideBar:after {
  content: '';
  position: absolute;
  background-image: url('./designGear.svg');
  width: 141px;
  height: 100%;
  left: 180px;
  top: 0;
  z-index: -1;
}

.sideBarHeader {
  color: #539cff;
  text-decoration: none;
}

.sideBarHeader > span:first-child {
  font-size: 3rem;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  color: white;
}

.link,
.activeLink {
  padding-top: 24px;
  text-decoration: none;
  /* color: #a364b7; */
  color: #2369c7;
}

.link:hover {
  color: #539cff;
}

.activeLink {
  color: #539cff;
}