@import '../../themes/variables.css';

.sideBarVerticalContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 100%;
}

.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
  background-color: #181621;
  width: 310px;
  padding-right: 12px;
  padding-left: 60px;
  padding-top: 60px;
  height: 100%;
}

.sideBar:before {
  content: '';
  position: absolute;
  background-image: url('./designGear.svg');
  width: 141px;
  height: 100%;
  left: 240px;
  top: 0;
  z-index: -1;
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .sideBar:before {
    display: none;
  }
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #383c52;
    opacity: 0.5;
  }
}

.sideBarTitle {
  color: #539cff;
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 16px;
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .sideBarTitle {
    display: none;
  }
}

.sideBarHeader {
  font-size: 32px;
  font-weight: 500;
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  line-height: 32px;
  color: white;
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .sideBarMenu {
    padding-top: 18px;
  }
}

.sideBarMenu li {
  line-height: 60px;
}

.link,
.activeLink {
  text-decoration: none;
  color: #2369c7;
}

.link:hover {
  color: #539cff;
}

.activeLink {
  color: #539cff;
}

.menuBtn {
  position: absolute;
  top: 64px;
  right: -120px;
  font-size: 24px;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  color: #539cff;
  z-index: 3;
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .menuBtn {
    display: none;
  }
}

.linksToOtherResourses {
  display: flex;
  font-size: 32px;
  list-style-type: none;
}

.linksToOtherResourses li {
  padding-right: 16px;
}

/* ------------------------------------------ Top Menu On Mobile Screen */

.sideBarMenuTop {
  display: none;
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .sideBarMenuTop {
    display: initial;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #181621;
    color: #539cff;
  }
}

.btnWithIcon {
  display: flex;
  align-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.closeMenu::after {
  content: 'Close Menu';
  padding-left: 8px;
}

.openMenu::after {
  content: 'Open Menu';
  padding-left: 8px;
}

@media (--only-small-mobile-screen) {
  .closeMenu::after,
  .openMenu::after {
    content: '';
  }
}

.menuTopDescription {
  line-height: 20px;
}

.menuTopDescriptionSmall {
  white-space: nowrap;
}
