@import '../../themes/variables.css';

.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #181621;
  width: 310px;
  padding-right: 12px;
  padding-left: 60px;
  padding-top: 60px;
  height: 100%;
}

@media (--only-mobile-screen) {
  .sideBar {
    display: none;
  }
}

.sideBar:after {
  content: '';
  position: absolute;
  background-image: url('./designGear.svg');
  width: 141px;
  height: 100%;
  left: 240px;
  top: 0;
  z-index: -1;
}

.sideBarTitle {
  color: #539cff;
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 16px;
}

.sideBarHeader {
  font-size: 32px;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  line-height: 32px;
  color: white;
}

.link,
.activeLink {
  padding-top: 24px;
  text-decoration: none;
  color: #2369c7;
}

.link:hover {
  color: #539cff;
}

.activeLink {
  color: #539cff;
}

.menuBtn {
  position: absolute;
  top: 64px;
  right: -120px;
  font-size: 24px;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  color: #539cff;
  z-index: 1;
}
