@import url("normalize.css");
@import './themes/variables.css';


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', 'Roboto', 'Arial', 'sans-serif';
  font-size: 18px;
  line-height: 1.6;
  min-height: 100vh;
  background-image: url('./backgroundJSOpacity.png'), linear-gradient(to right, rgba(78, 33, 93, 1), rgba(36, 7, 45, 1));
  width: 100%;
  background-size: 100vw;
  background-position: right;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.centerContainer {
  position: relative;
  left: 73px;
  z-index: 1;
  max-width: 650px;
  margin: auto;
  font-weight: 300;
  background-color: #18162163;
  /* padding: 24px; */
  line-height: initial;
}

.fixed {
  display: none;
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, 0); */
}

@media (--only-tablet-screen), (--only-mobile-screen) {
  .centerContainer {
    margin-top: 60px;
  }
}

@media (--only-very-small-mobile-screen) {
  .centerContainer {
    padding: 12px;
  }
}

.particlesWrapper {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 0;
}

.centerContainer:before {
  content: '';
  position: absolute;
  background-image: url('./jsReactReduxGear2.svg');
  width: 73px;
  height: 100%;
  left: -72px;
  z-index: 2;
  top: 0;
}

@media (--only-desktop-small-screen) {
  .centerContainer {
    left: 200px;
  }
}

@media (--only-tablet-screen) {
  .centerContainer {
    left: 73px;
  }
}

@media (--only-mobile-screen) {
  .centerContainer {
    left: 0;
    margin-left: 50px;
  }

  .centerContainer:before {
    background-size: 100px;
    width: 50px;
    left: -50px;
  }
}

@media (--only-very-small-mobile-screen) {
  .centerContainer {
    margin-left: 0;
  }

  .centerContainer:before {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  text-align: center;
  color: #539cff;
}

h4 {
  margin-bottom: 32px;
}
