@import '../../../themes/variables.css';

.root {
  display: flex;
  align-items: center;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

/* .label:nth-child(even) {
  box-shadow: -8px 0px 4px 6px rgba(0, 0, 0, 0.5);
} */

.hexagon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70px;
  min-width: 70px;
  height: 40px;
  background-color: #64c7cc;
  margin-top: 14px;
  margin-bottom: 14px;
  border-left: solid 3px #333333;
  border-right: solid 3px #333333;
  z-index: 2;
  user-select: none;
  font-size: 32px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
}

.hexagon:before {
  top: -25px;
  left: 7px;
  border-style: solid;
  border-width: 4px;
  border-color: inherit;
  border-bottom: none;
  border-left: none;
}

.hexagon:after {
  bottom: -25px;
  left: 7px;
  border-style: solid;
  border-width: 4px;
  border-color: inherit;
  border-top: none;
  border-right: none;
}

.hover {
  border-color: #bf2390;

}

.hover > div {
  border-color: #bf2390;
  color: #caaec0;
}

.hexagon:hover {
  border-color: #bf2390;

}

.hexagon * {
  z-index: 3;
}

.hexagonCommunication,
.hexagonPlanning,
.hexagonPrioritizeNeeds,
.hexagonLeadership,
.hexagonEngineeringBackground,
.hexagonDesignBackground {
  color: #caaec0;
  color: #539cff;
  background-color: #220117;
  border-color: #539cff;
}


/* ----------------------------------------------- */