@import '../../themes/variables.css';

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  color: #539cff;
  min-height: 500px;
  margin-top: 80px;
  padding: 24px;
}

.contactsUl {
  margin-top: 74px;
  padding: 0;
  color: #fff;
  list-style-type: none;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 16px;
}

.contact > *:first-child {
  margin-right: 16px;
}

.envelope {
  font-size: 54px;
  margin-bottom: 12px;
  height: 82px;
}