@import '../../themes/variables.css';

.root {
  display: flex;
  margin-bottom: 32px;
}

.root img {
  border-radius: 4px;
  object-fit: cover;
}

@media (--only-mobile-screen) {
  .root img {
    max-width: 250px;
    max-height: 500px;
  }
}

.header {
  display: flex;
  justify-content: center;
}

.headerChild {
  padding-top: 12px;
}

.headerAnimation {
  display: inline-block;
  position: relative;
  animation: type 3s steps(9) infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Oxygen Mono', monospace;
}

.headerAnimation:before {
  animation: opacity 0.8s steps(2) infinite;
  content: '';
  position: absolute;
  right: -2px;
  height: 100%;
  width: 5px;
  border-right: 4px solid white;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  50% {
    width: 9ch;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  color: white;
  line-height: 28px;
}
