@import '../../themes/variables.css';

.aboutMe {
  background-color: #1816218a;
  padding-top: 32px;
}

.aboutMeContent {
  display: flex;
  margin-bottom: 32px;
  padding: 24px;
}

.aboutMeContent img {
  border-radius: 4px;
  object-fit: cover;
  width: 50%;
  min-width: 280px;
}

@media (--only-mobile-screen) {
  .aboutMeContent {
    flex-direction: column;
    align-items: center;
  }

  .aboutMeContent img {
    width: 100%;
    max-width: 250px;
    max-height: 380px;
  }
}

.header {
  display: flex;
  justify-content: center;
  font-size: 32px;
  white-space: nowrap;
}

@media (--only-mobile-screen) {
  .header {
    font-size: 24px;
  }
}

.headerChild {
  padding-top: 12px;
}

.cursor {
  animation: opacity 0.8s steps(2) infinite;
  content: '';
  position: absolute;
  right: -2px;
  height: 100%;
  width: 5px;
  border-right: 4px solid white;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  50% {
    width: 9ch;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  color: white;
  line-height: 28px;
}

@media (--only-mobile-screen) {
  .menu {
    margin-top: 28px;
    padding-left: 12px;
  }
}

.unstyledList {
  list-style-type: none;
  padding: 0;
}

